## ADDED Requirements
{% for spec in specs %}

### Requirement: {{ spec.title }}
{{ spec.description }}
{% for scenario in spec.scenarios %}

#### Scenario: {{ scenario.name }}
**WHEN** {{ scenario.when }}
**THEN** {{ scenario.then }}
{% endfor %}
{% endfor %}
